:root {
  --max-width: 1100px;
  --border-radius: 6px;

  /* --component: #333333; */
  /* --backgroundAccent: #292929; */
  --layout: #ffffff;
  --accent: #f4abba;
  --accentDark: #e7576d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --layout: #181818;
    --text: #d4d4d4;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #404040;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--background);
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  color: var(--text);
}
